.gray-text-small {
  color: gray;
  opacity: 0.7;
  font-size: 13px;
}

.tlist_display {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tmodal {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  .tadd_error {
    color: #ff0000;
    font-size: 12px;
  }
  .tadd_buttons {
    display: flex;
    gap: 10px;
  }
  .tdownload_permission {
    @extend .gray-text-small;
    padding-left: 2px;
    color: #ff0000;
  }
}

.tdownload_file_info {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .tdownload_info {
    @extend .gray-text-small;
    text-align: end;
  }
  .tdownload_file_location{
    display: flex;
    gap: 5px;
    align-items: flex-end;
  }
  .tdownload_input{
    flex: 1
  }
}

.no_file{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}