.theader_colour {
  background-color: var(--bg-h);
}
.theader_grid {
  height: 100%;
  margin: 0;
  .theader_col {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .theader_col.theader_col--between {
    justify-content: space-between;
    .mantine-UnstyledButton-root[data-disabled]{
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.theader_input {
  .mantine-Input-input {
    border: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    background-color: var(--bg-h);
    color: #101113;
    &:focus {
      border: 1px solid #101113;
      border-radius: 5px;
    }
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #101113;
  }
}


