.tfooter {
  border: 1px solid #e9ecef;
  border-bottom: 0;
  height: 55px;
  display: flex;
  justify-content: space-between;
  .tfooter-align-center {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 12px;
    .nav-gap{
        gap: 20px;
    }
    &-left{
        padding-left: 12px;
    }
    &-right{
        padding-right: 16px;
    }
    .tfooter_download_display {
      display: flex;
      align-items: center;
      & > {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
